<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>7118638672-m4f33p1t8t1og1dvf2lhqohv8ccgo5kl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.7118638672-m4f33p1t8t1og1dvf2lhqohv8ccgo5kl</string>
	<key>API_KEY</key>
	<string>AIzaSyA6uSyq-1EemAhq-7XWBA0d_cVymgMmGOA</string>
	<key>GCM_SENDER_ID</key>
	<string>7118638672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iosdecal.PP-Project</string>
	<key>PROJECT_ID</key>
	<string>peazypay-1</string>
	<key>STORAGE_BUCKET</key>
	<string>peazypay-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:7118638672:ios:ae1ef58841c21937</string>
	<key>DATABASE_URL</key>
	<string>https://peazypay-1.firebaseio.com</string>
</dict>
</plist>
